body {
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.testVariable1,
.testVariable2 {
  position: fixed;
  z-index: 9999;
  color: blue;
  margin-left: 25%;
}
.testVariable2 {
  left: 100px;
}
/* ----------------------------------------------- navbar */
.Navbar {
  position: absolute;
  width: 100vw;
  z-index: 1050;
}

.navLogoAndTitle {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.navLogoAndTitle:visited {
  text-decoration: none;
  color: black;
}
.buttonHovered {
  position: absolute;
}
.navButtonsContainer {
  float: right;
  margin: 30px;
  width: 50%;
}
.buttonContainer {
  float: left;
  width: 20%;
  height: 50px;
}
.navButton {
  float: left;
  text-decoration: none;
  color: black;
  background: transparent;
  border: 0;
  outline: none;
  transition: 0.5s;
  opacity: 0.5;
  letter-spacing: 2px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.navButton:visited {
  text-decoration: none;
  color: black;
}
.navButton:hover {
  opacity: 1;
}
.navLogo {
  height: 80px;
  float: left;
  position: relative;
  left: 20px;
}
.navBanner {
  transition: 1s;
  border-bottom-style: solid;
  border-bottom-color: gray;
  position: fixed;
  background: white;
  width: 100%;
  height: 80px;
  text-align: center;
  top: 0;
}
.navBanner--hidden {
  top: -102px;
}
.navTitle {
  float: left;
  font-size: 20px;
  position: relative;
  width: 25%;
  text-decoration: none;
  color: black;
}

.navbarSpacer {
  z-index: -100;
  height: 80px;
}
.navTitleStorypoint {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}
.navTitleStorypoint:active,
.navTitleSubtext:active,
.navTitle:active {
  text-decoration: none;
  color: black;
}

.navTitleSubtext {
  font-size: 15px;
  margin-top: 5px;
  opacity: 0.5;
  text-decoration: none;
  color: black;
}
/* ----------------------------------------------- footer */
.Footer {
  text-align: center;
  height: 325px;
  background: rgb(223, 223, 223);
}
.footerAddresses {
  width: 70%;
  margin-left: 15%;
}
.address {
  text-align: center;
  width: 50%;
  float: left;
}
.footerWhiteSpace {
  height: 100px;
}
.social-icon {
  margin-left: 5px;
  margin-right: 5px;
}
.footerAddressType {
  text-decoration: underline;
  margin-bottom: 0;
}
.footerAddress {
  margin-top: 10px;
}
.mySignature {
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 8px;
  left: 0;
  opacity: 0.5;
}
.paypalPicture {
  width: 200px;

}
/* ----------------------------------------------- content */

.centeredh3 {
  text-align: center;
  text-transform: uppercase;
}
.content {
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
.whiteSpace {
  height: 100px;
  background: white;
}
.transparentSpace {
  height: 300px;
}
/* ----------------------------------------------------------parallax */
.parallaxSizePrimary {
  height: 88vh;
}
.parallaxSizeSecondary {
  height: 100vh;
}
.parallaxContainer {
  margin-bottom: 50px;
}
.parallaxContent {
  text-align: center;
}
.parallaxTitleContainer {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 40%;
  text-align: center;
}
.parallaxTitle {
  letter-spacing: 20px;
  width: fit-content;
  margin: auto;
  color: #fff;
  font-size: 80px;
}
.parallaxTitleCONTACT {
  color: black;
}
.parallaxWhiteSpaceTop {
  height: 100px;
}
/* ---------------------------------------------------------- beliefs */
.ourBeliefs {
  text-align: left;
}
.scripture {
  margin-top: 0;
  opacity: 0.5;
}
.valuesParagraph {
  text-align: center;
}
/* ---------------------------------------------------------- contact, events ------------------------------- */
.allContactsContainer {
  text-align: center;
}
.contactContainer {
  display: inline-block;
  width: 80vw;
  height: 250px;
  background: whitesmoke;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(128, 128, 128, 0.459);
  /* border-radius: 10px; */
}
.contactContainer:hover {
  background: rgb(228, 226, 226);
  border-color: gray;
}

.contactImg {
  height: 90%;
  margin: 10px;
  float: left;
}
.contactName {
  padding-top: 30px;
}
.contactBio {
  height: 70%;
  width: 100%;
}
.eventCardContainer {
  width: 80vw;
  margin-left: 10vw;
}
.previewCard {
  /* border: solid; */
  width: 80vw;
  margin-left: 10vw;
}
.eventCard {
  width: 80vw;
}
.eventImg {
  width: 500px;
  height: 300px;
}

.eventFormItem {
  width: 40vw;
}
.eventFormDescription {
  width: 80vw;
  height: 200px;
}
/* ---------------------------------------------------------- BACKEND PAGES ------------------------------------------- */

.slideshowTutorialContent {
  width: 80vw;
  margin-left: 10vw;
}
/* ---------------------------------------------------------- MOBILE/TABLET/ETC ------------------------------------------ */
@media only screen and (max-width: 900px) {
  .navButton {
    font-size: 12px;
  }
}
@media only screen and (max-width: 750px) {
  .navTitleSubtext {
    font-size: 10px;
  }
  .navButton {
    font-size: 10px;
  }
}
@media only screen and (max-width: 650px) {
  .navButtonsContainer {
    width: 47.5%;
  }
  .navButton {
    font-size: 8px;
  }

  /* --------------------------------------login stuff------------------------------------------ */

  .pictureUpload {
    width: 60%;
  }
}
@media only screen and (max-width: 620px) {
  /* --------------------------------------navbar------------------------------------------ */

  body {
    width: 100%;
  }
  .Navbar {
    position: absolute;
    width: 100vw;
    z-index: 1050;
  }
  .navBanner {
    background: white;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 0.5s;
    outline-style: none;
    position: fixed;
  }
  .navBanner--hidden {
    top: -102px;
  }
  .navLogoAndTitle {
    width: 100%;
    height: 100px;
    cursor: auto;
  }

  .navLogo {
    max-width: 45%;
    height: 100px;
    float: left;
    position: relative;
    left: 0px;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
  }
  .navTitle {
    position: absolute;
    float: left;
    font-size: 20px;
    width: 50%;
    left: 25%;
    text-decoration: none;
    color: black;
  }
  .navTitle:visited {
    text-decoration: none;
    color: black;
  }

  .menuBarContainer {
    margin-top: 25px;
    float: right;
    width: 15%;
    cursor: pointer;
    user-select: none;
    outline: none;
  }
  .menuBarContainer:active {
    outline: none;
    user-select: none;
    outline: none;
  }

  .buttonHovered {
    position: absolute;
  }
  .navButtonsContainer {
    float: left;
    margin: 0px;
    width: 100%;
    transition: 0.5s;
    overflow: hidden;
    border-top: solid;
    border-bottom: solid;
  }
  .buttonContainer {
    float: none;
    width: 100%;
    height: 50px;
    background: lightgray;
  }
  .buttonGray {
    background: whitesmoke;
  }
  .navButton {
    float: left;
    padding-left: 30px;
    font-size: 20px;
    margin: auto;
    text-align: left;
    border: 0;
    outline: none;
    transition: 0.5s;
    opacity: 0.5;
    letter-spacing: 5px;
    cursor: pointer;
  }

  .navButton:hover {
    opacity: 1;
  }

  .navbarSpacer {
    z-index: -100;
    height: 100px;
  }
  .navTitleStorypoint {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
  }
  .navTitleSubtext {
    font-size: 15px;
    opacity: 0.5;
    text-decoration: none;
    color: black;
  }
  .navTitleSubtext:visited {
    text-decoration: none;
    color: black;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.5s;
  }
  .bar1change {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .bar2change {
    opacity: 0;
  }

  .bar3change {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  /* --------------------------------------site settings------------------------------------------ */
  .content {
    text-align: center;
    width: 96%;
    margin-left: 2%;
  }
  .parallaxSizePrimary {
    height: calc(100vh - 100px);
  }
  .parallaxTitle {
    font-size: 45px;
  }
  .parallaxContainer {
    margin-bottom: 40px;
  }
  .parallaxWhiteSpaceTop {
    height: 0px;
  }
  .footerWhiteSpace {
    height: 40px;
  }
  .Footer {
    height: 420px;
  }

  /* --------------------------------------home------------------------------------------ */

  .App {
    width: 100%;
  }
  /* --------------------------------------about------------------------------------------ */

  .youtubeWindow {
    width: 100%;
    height: 300px;
  }

  /* --------------------------------------events------------------------------------------ */

  .contactImg {
    max-width: 90%;
    height: auto;
    margin: 10px;
    float: left;
  }
  .contactContainer {
    height: 520px;
  }

  .previewCard {
    margin-left: 0;
    width: 100%;
  }
  .eventCardContainer {
    margin-left: 0;
    width: 100vw;
  }
  .eventCard {
    width: 100%;
    margin-left: 0;
    height: 550px;
  }
  .eventImg {
    width: 100%;
  }
}
